@model LoginUserViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}



<div class="container">
	<h3 class="tittle" key="36">Sign In Now</h3>
	<div class="row inner-sec">
		<div class="login p-5 bg-light mx-auto mw-100">
			<form action="#" method="post">
				<div class="form-group">
					<label key = "9" for="exampleInputEmail1 mb-2">Kullanıcı adi</label>
					<input type="text" asp-for="UserName" class="form-control" id="exampleInputEmail1"  placeholder="" required="">
					<span asp-validation-for="UserName" class="text-danger text-muted"></span>
				
				</div>
				<div class="form-group">
					<label key="14" for="exampleInputPassword1 mb-2">Password</label>
					<input type="password" asp-for="Password" class="form-control" id="exampleInputPassword1" placeholder="" required="">
					<span asp-validation-for="Password" class="text-danger text-muted"></span>
				</div>
			
				<button type="submit" class="btn btn-primary submit mb-4"><span key="29">Sign In</span> </button>
				<p><a  key= "11" href="/register/"> Don't have an account?</a></p>
			</form>
		</div>
	</div>
</div>
